<h1>Welcome to the article library</h1>

<h2>Type one of the options to the end of your URL below to navigate the site</h2>
<ul>
  <li>See the index of articles by typing '/articles'</li>
  <li>Create a new article by typing '/articles/new'</li>
  <li>Find a specific article by its ID '/articles/:id'</li>
  <li>edit an article by typing'/articles/:id/edit'</li>
  <li>delete an article '/articles/:id'</li>
</ul>
