<h1>Welcome to the article library</h1>

<h2>Type one of the options to the end of your URL below to navigate the site. any option with a ":id" needs to be replaced with a number</h2>
<ul>
  <li>See the index of articles by typing <b>'/articles'</b></li>
  <li>Create a new article by typing <b>'/articles/new'</b></li>
  <li>Find a specific article by its ID <b>'/articles/:id'</b></li>
  <li>edit an article by typing <b>'/articles/:id/edit'</b></li>
  <li>delete an article <b>'/articles/:id'</b></li>
</ul>
